{% load i18n %}
<ul class="flex items-center text-sm font-medium h-full">
  {% if user.is_authenticated %}
  <!--로그인 되어있다면!!!-->
  <!--nav는 어떻게 user에 접근하는가? 
  Django는 context Processor함수가 있는데 template에 정보 추가하는역할 함
  어디서든 template에 접근할수있다, 이경우도 context Processor가있는데
  Cookie를 가지고 와서 user를 찾고 그걸 template에 자동으로 넣어줌!
  또한 절대 경로를 추가해줘야지만 admin에서 유저에서 view보기 버튼이 생김!>
  -->


  <li class="nav_link">
    <a href="{% url 'users:switch-hosting'  %}">
      {% if request.session.is_hosting %}
      <!--유저인지 호스트인지 세션을 체크 해야한다!-->
      {% trans "Stop hosting" %}
      {% else %}
      {% trans "Start hosting" %}
      {% endif %}
    </a>
  </li>

  {% if request.session.is_hosting %}
  <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans "Create Room" %}</a></li>
  {% endif %}

  <li class="nav_link"><a href="{% url 'lists:see-favs' %}">{% trans "Favs" %}({{user.list.rooms.count}})</a></li>
  <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans "Profile" %}</a></li>
  <li class="nav_link"><a href="{% url "users:logout" %}">{% trans "Log out" %}</a></li>

  {% else %}
  <!-- ml-8 마진 래프트만 8준다!-->
  <li class="nav_link"><a href="{% url "users:login" %}">{% trans "Log in" %}</a></li>
  <li class="nav_link"><a href="{% url "users:signup" %}">{% trans "Sign up" %}</a></li>
  {% endif %}
</ul>