{% extends "base.html" %}

{% block page_title %}
{{user.first_name}}'s reservations
{% endblock page_title %}


{% block content %}
<div class="h-75vh">

  <h3 class="mb-12 text-2xl text-center font-bold pt-10">Your reservations<br>
    <span class="text-sm">Please leave your review when your
      reservation's status is
      <span class="text-indigo-500">'finished'</span></span></h3>

  <div class="container mx-auto pb-10 flex flex-col items-center">
    <div class="flex flex-wrap w-full -mx-40 mb-10">
      {% for reservation in user.reservations.all %}
      {% comment %} {{reservation.room.description}} {% endcomment %}
      {% include "mixins/reservation_card.html" with room=reservation.room reservation=reservation %}
      <!--for문의 room을 가져온다! 왼쪽룸이 저 include안으로 가고 오른쪽룸이 for문의 room이다-->
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}